/* Custom typography styles */

/* Label */
.typography-label-small-caps-semibold {
    font-family: var(--font-roboto-flex);
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.typography-label-xs-regular {
    font-family: var(--font-roboto-flex);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.typography-label-small-regular {
    font-family: var(--font-roboto-flex);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.typography-label-medium-regular {
    font-family: var(--font-roboto-flex);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.006em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.typography-label-medium-medium {
    font-family: var(--font-roboto-flex);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.006em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.typography-label-medium-semibold {
    font-family: var(--font-roboto-flex);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.006em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
  



/* Button */
.typography-button-small-semibold {
    font-family: var(--font-roboto-flex);
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.typography-button-medium-semibold {
    font-family: var(--font-roboto-flex);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.006em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.typography-button-large-semibold {
    font-family: var(--font-roboto-flex);
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.011em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
  


/* body */
.typography-small-underline {
    font-family: var(--font-roboto-flex);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.typography-body-small-regular {
    font-family: var(--font-roboto-flex);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.typography-body-medium-regular {
    font-family: var(--font-roboto-flex);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.006em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.typography-body-medium-semibold {
    font-family: var(--font-roboto-flex);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.006em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

/* Heading */
.typography-h3-bold {
    font-family: var(--font-roboto-flex);
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.typography-h4-semibold {
    font-family: var(--font-roboto-flex);
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: -0.019em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}